<% include header.ejs %>

<div class="container row mt60">
    <div class="col-lg-8 col-md-8 col-sm-12">

        <div class="btn-toolbar">
            <div class="btn-group">
                <a class="btn btn-info active" href="#fakelink"><span class="fui-user"></span><span>我关注的人的动态</span></a>
                <a class="btn btn-inverse" href="#fakelink"><span class="fui-chat"></span><span>我关注的话题</span></a>
                <a class="btn btn-primary" href="#fakelink"><span class="fui-heart"></span><span>我的收藏夹</span></a>
                <a class="btn btn-warning" href="#fakelink"><span class="fui-eye"></span><span>探索和发现</span></a>
            </div>
        </div> <!-- /toolbar -->

        <div class="col-md-12 mtm q-content">
        	<% if(user){ %>
			<div class="panel panel-primary mtl" id="showBox">
			    <div class="panel-heading">
			        <h3 class="panel-title"><%= user.name %></h3>
			    </div>
			    <div class="panel-body">
			        <ul class="person-info">
						<li><span>性别：<%= user.sex %></span></li>
						<li>个性签名：<%= user.signature %></li>
						<li>专业：<%= user.major %></li>
						<li>等级：<%= user.level %></li>
					</ul>
					<% if(curUser.name === user.name){ %>
						<button type="button" class="btn btn-info" id="editBtn">编辑</button> 
					<% } %>
			    </div>
			</div>
			
			<div class="panel panel-primary mtl" id="editBox" style="display: none;">
			    <div class="panel-heading">
			        <h3 class="panel-title"><%= user.name %></h3>
			    </div>
			    <div class="panel-body" id="user-edit-body">
			        	<div class="form-group">
                            <label class="radio">
                                <input type="radio" name="sex" value="男" data-toggle="radio" <%if(user.sex == null || user.sex == '男'){%>checked<% }%> />
                                我是男生啦
                            </label>

                            <label class="radio">
                                <input type="radio" name="sex" value="女" data-toggle="radio" <%if(user.sex == null || user.sex == '女'){%>checked<%}%>/>
                                我是女生啊
                            </label>

					  	</div>
					    <div class="form-group">
                            <div class="input-group">
                            <span class="input-group-addon">个性签名</span>
					        <input type="text" class="form-control" name="signature" value="<%= user.signature %>"  placeholder="个性签名" />
                            </div>
					     </div>
					    <div class="form-group">
                            <div class="input-group">
					        <span class="input-group-addon">来自专业</span>
					        <input type="text" class="form-control" name="major" placeholder="专业"  value="<%= user.major %>">
                            </div>
                        </div>
                        <div class="form-group">
                        <button class="btn btn-info" id="cancelBtn">取消</button>
					 	<button  class="btn btn-info" id="saveBtn">保存</button>
                        </div>

			    </div>
			</div>
			<ul class="nav nav-tabs mtm">
			    <li class="active"><a href="#ask" class="person-tab">提过的问题</a></li>
			    <li><a href="#answer" class="person-tab">回答过的问题</a></li>
			</ul>
			<% }else{ %>
			<h1>该用户还不存在！</h1>
			<% } %>
        </div>
    </div>
    <div class="col-lg-4 col-md-14">
        <div class="col-sm-12 mt50">
            <img src="/images/x04.jpg" class="img-rounded img-responsive"/>
        </div>
    </div>
</div>

<% include footer.ejs %>

<script>
	seajs.use('person',function(person){
        person.init();
    });
</script>
